body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("img/sea.jpg");
    background-size: cover;
}

.background .water {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("img/sea-mask.png");
    background-size: cover;
    filter:url("#turbulence");
}