<<<<<<< HEAD
* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	height: 100vh;
	background-color: #363636;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social {
	color: #fff;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 450px;
}

.social_item {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 5px solid #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	transition: 0.2s;
	cursor: pointer;
}

.social_item:hover {
	width: 80px;
	height: 80px;
	font-size: 26px;
	border: 7px solid #fff;
}

.facebook:hover {
	border-color: #f05;
	box-shadow: 0px 0px 20px 1px #f05, inset 0px 0px 10px 1px #f05;
	color: #f05;
}

.twitter:hover {
	border-color: #0090ff;
	box-shadow: 0px 0px 20px 1px #0090ff, inset 0px 0px 10px 1px #0090ff;
	color: #0090ff;
}

.inst:hover {
	border-color: #00e5ff;
	box-shadow: 0px 0px 20px 1px #00e5ff, inset 0px 0px 10px 1px #00e5ff;
	color: #00e5ff;
}

.google:hover {
	border-color: #7f0;
	box-shadow: 0px 0px 20px 1px #7f0, inset 0px 0px 10px 1px #7f0;
	color: #7f0;
}

.whtsup:hover {
	border-color: #ffc800;
	box-shadow: 0px 0px 20px 1px #ffc800, inset 0px 0px 10px 1px #ffc800;
	color: #ffc800;
}

=======
* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	height: 100vh;
	background-color: #363636;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social {
	color: #fff;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 450px;
}

.social_item {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 5px solid #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	transition: 0.2s;
	cursor: pointer;
}

.social_item:hover {
	width: 80px;
	height: 80px;
	font-size: 26px;
	border: 7px solid #fff;
}

.facebook:hover {
	border-color: #f05;
	box-shadow: 0px 0px 20px 1px #f05, inset 0px 0px 10px 1px #f05;
	color: #f05;
}

.twitter:hover {
	border-color: #0090ff;
	box-shadow: 0px 0px 20px 1px #0090ff, inset 0px 0px 10px 1px #0090ff;
	color: #0090ff;
}

.inst:hover {
	border-color: #00e5ff;
	box-shadow: 0px 0px 20px 1px #00e5ff, inset 0px 0px 10px 1px #00e5ff;
	color: #00e5ff;
}

.google:hover {
	border-color: #7f0;
	box-shadow: 0px 0px 20px 1px #7f0, inset 0px 0px 10px 1px #7f0;
	color: #7f0;
}

.whtsup:hover {
	border-color: #ffc800;
	box-shadow: 0px 0px 20px 1px #ffc800, inset 0px 0px 10px 1px #ffc800;
	color: #ffc800;
}

>>>>>>> 3b3e9fee598de48f4fbfaea5518ae6c48292afa5
